## Question 1
The following table indicates the number of 6-point scores in an American rugby match in the 1979 season.

![](table1.png)

Based on these results, we create a Poisson distribution with the sample mean parameter  = 2.435. Is there any reason to believe that at a .05 level the number of scores is a Poisson variable?

In [13]:
df = pd.DataFrame({'Number of time actual': [35/448, 99/448, 104/448, 110/448, 62/448, 25/448,10/448,3/448]})
df['Number of time expected'] = [stats.poisson.pmf(x, 2.435) for x in range(8)]
df

   Number of time actual  Number of time expected
0               0.078125                 0.087598
1               0.220982                 0.213301
2               0.232143                 0.259693
3               0.245536                 0.210784
4               0.138393                 0.128315
5               0.055804                 0.062489
6               0.022321                 0.025360
7               0.006696                 0.008822

In [44]:
from scipy import stats

stats.chisquare(f_obs = df['Number of time actual'], f_exp = df['Number of time expected'])

Power_divergenceResult(statistic=0.012336135377659091, pvalue=0.9999999984231351)

In [ ]:
#we cannot reject H0

## Question 2
The following are the ordered values of a random sample of SAT scores (university entrance exam) for several students: 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063. In previous years, the scores were presented by N (985,50). Based on the sample, is there any reason to believe that there has been a change in the distribution of scores this year? Use the level alpha = 0.05.

In [67]:
#your answer here
sat = pd.DataFrame({'sat scores': [ 852, 875, 910, 933, 957, 963, 981, 998, 1010, 1015, 1018, 1023, 1035, 1048, 1063]})
sat

    sat scores
0          852
1          875
2          910
3          933
4          957
5          963
6          981
7          998
8         1010
9         1015
10        1018
11        1023
12        1035
13        1048
14        1063

In [69]:
#creating the frequecy table
freq = pd.DataFrame(pd.cut(sat['sat scores'], 5).value_counts()).reset_index()
freq

              index  sat scores
0   (978.6, 1020.8]           5
1  (1020.8, 1063.0]           4
2    (936.4, 978.6]           2
3    (894.2, 936.4]           2
4  (851.789, 894.2]           2

In [70]:
freq['starting'] = freq['index'].astype(str).str.split(',').str[0].str.lstrip('(').astype('float64')
freq['ending'] = freq['index'].astype(str).str.split(',').str[1].str.rstrip(']').astype('float64')

In [71]:
freq

              index  sat scores  starting  ending
0   (978.6, 1020.8]           5   978.600  1020.8
1  (1020.8, 1063.0]           4  1020.800  1063.0
2    (936.4, 978.6]           2   936.400   978.6
3    (894.2, 936.4]           2   894.200   936.4
4  (851.789, 894.2]           2   851.789   894.2

In [72]:
def prob_norm (row):
    return stats.norm.cdf(loc = 985, scale = 50, x=row.ending) - stats.norm.cdf(loc = 985, scale = 50, x=row.starting)

In [73]:
freq['prob normale'] = freq.apply(prob_norm, axis=1)
freq['prob normale'] = freq['prob normale']/freq['prob normale'].sum()
freq

              index  sat scores  starting  ending  prob normale
0   (978.6, 1020.8]           5   978.600  1020.8      0.335122
1  (1020.8, 1063.0]           4  1020.800  1063.0      0.189606
2    (936.4, 978.6]           2   936.400   978.6      0.302691
3    (894.2, 936.4]           2   894.200   936.4      0.139673
4  (851.789, 894.2]           2   851.789   894.2      0.032908

In [74]:
freq['expected'] = freq['prob normale'] * freq['sat scores'].sum()
freq

              index  sat scores  starting  ending  prob normale  expected
0   (978.6, 1020.8]           5   978.600  1020.8      0.335122  5.026836
1  (1020.8, 1063.0]           4  1020.800  1063.0      0.189606  2.844092
2    (936.4, 978.6]           2   936.400   978.6      0.302691  4.540363
3    (894.2, 936.4]           2   894.200   936.4      0.139673  2.095091
4  (851.789, 894.2]           2   851.789   894.2      0.032908  0.493618

In [77]:
stats.chisquare(f_obs = freq['sat scores'], f_exp = freq['expected'])
# on peut pas rajouter l'hypothese que c'est issu d'une loi normale (985,50)

Power_divergenceResult(statistic=6.492648106323626, pvalue=0.16525420188011247)

In [ ]:
#p>0.05 so we cannot reject H0 --> sample follows normal distribution

## Question 3
Let's analyze a discrete distribution. To analyze the number of defective items in a factory in the city of Medellín, we took a random sample of n = 60 articles and observed the number of defectives in the following table:

![](table4.png)

A poissón distribution was proposed since it is defined for x = 0,1,2,3, .... using the following model:

![](image1.png)

Does the distribution of defective items follow this distribution?

In [33]:
# your code here
def_item = pd.DataFrame({'Frequency': [32, 15 , 0,9 ,4, 0]})
mu = (32*0 + 15*2 + 9*3 + 4*4)/60
def_item['Expected'] = [stats.poisson.pmf(x, mu) for x in range(4)]
def_item

   Frequency  Expected
0   0.533333  0.778801
1   0.250000  0.194700
2   0.150000  0.024338
3   0.066667  0.002028

In [34]:
stats.chi2_contingency(def_item)

(0.204196805068496,
 0.9769089632007113,
 3,
 array([[0.65611081, 0.65602331],
        [0.22236493, 0.22233527],
        [0.08717458, 0.08716295],
        [0.03434969, 0.03434511]]))

In [ ]:
#we cannot reject H0 --> poisson dist

## Question 4
A quality control engineer takes a simple of 10 tires that come out of an assembly line, and would like to verify on the basis of the data that follows, if the number of tires with defects observed over 200 days, if it is true that 5% of all tires have defects (that is, if the sample comes from a binomial population with n = 10 and p = 0.05).

In [ ]:
# your answer here
defective_item = pd.DataFrame({'Frequency': [32/60,15/60,9/60,4/60]})
mu = def_item['Frequency'].mean()
def_item['Expected'] = [stats.poisson.pmf(x, mu) for x in range(4)]
def_item

## Question 5
A researcher gathers information about the patterns of physical activity (AF) of children in the fifth grade of primary school of a public school. He defines three categories of physical activity (1 = Low, 2 = Medium, 3 = High). He also inquires about the regular consumption of sugary drinks at school, and defines two categories (1 = consumed, 0 = not consumed). We would like to evaluate if there is an association between patterns of physical activity and the consumption of sugary drinks for the children of this school, at a level of 5% significance. The results are in the following table: 

![](table5.png)

In [39]:
#your answer here
af = pd.DataFrame({'Sugar': [32, 14, 6], 'No Sugar': [12, 22, 9]})
af

   Sugar  No Sugar
0     32        12
1     14        22
2      6         9

In [40]:
stats.chi2_contingency(af)

(10.712198008709638,
 0.004719280137040844,
 2,
 array([[24.08421053, 19.91578947],
        [19.70526316, 16.29473684],
        [ 8.21052632,  6.78947368]]))

In [ ]:
# p<0.01 so the H0 can be rejected